body {
  height: 100vh;
}

main {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.app-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app-nav > a {
  margin: 20px;
  text-decoration: none;
  font-weight: bold;
}